ul {
    list-style-type: none;
}


#logo {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    max-width: 220px;
    padding-bottom: 10px;
}


.box {
height: 101px;
background-color: black;
padding: 10px;
    
}

.box p {
    color: white;
}

#mainNav{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#mainNav li a
{
	display: block;
    padding: 10px 0 10px 0;
    color: #6f1ab1;
    font-family: 'Baloo';
    font-size: 2em;
    border-bottom: 3px solid #6f1ab1;
}


#videoControls
{
    height: 200px;
    text-align: center;
    margin-top: 25px;
}

#videoControls ul{
    list-style-type: none;
}

#videoControls ul li{
    display: inline-block;
}

.play-pause
{
    font-size: 4em;
    margin-left: 25px;
    margin-right: 25px;
    color: #4f167b;
    cursor: pointer;
}

.play-pause:active{
    margin-top: 2px;
}

.volumeUp
{
    float: right;
    font-size: 1.5em;
    color: #4f167b;
    cursor: pointer;
}

.volumeUp:active
{
    margin-top: 2px;
}

.volumeDown
{
    float: right;
    font-size: 1.5em;
    color: #4f167b;
    margin-left: 20px;
    cursor: pointer;
}

.volumeDown:active
{
    margin-top: 2px;
}

.rewindBut
{
    font-size: 2em;
    color: #4f167b;
    cursor: pointer;
}

.ffBut
{
    font-size: 2em;
    color: #4f167b;
    cursor: pointer;
}

#welcome
{
    background-image: url(../images/heroimage_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 800px;
}

.startingTitle{
    padding-top: 100px;
}

#welcome h1{
    font-family: 'Baloo';
    font-size: 2.25em;
    color: #6f1ab1;
}

#videoCon{
    margin-bottom: 75px;
    margin-top: 50px;
}



#welcome p{
    padding-top: 20px;
    color: #6f1ab1;
    font-family: 'Palanquin Dark';
}

.exploreButton{
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6000af+24,8a5daf+53,7d3faf+53,4f167b+100 */
    background: #6000af; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6000af 24%, #8a5daf 53%, #7d3faf 53%, #4f167b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6000af 24%,#8a5daf 53%,#7d3faf 53%,#4f167b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6000af 24%,#8a5daf 53%,#7d3faf 53%,#4f167b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6000af', endColorstr='#4f167b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    color: #f7b22c;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
    font-family: 'Palanquin Dark';
}

.underline{
    padding: 10px;
    padding-left: 0;
    border-bottom: 5px solid #6f1ab1;
    font-family: 'Baloo';
    font-size: 2.25em;
    color: #6f1ab1;
}

.sampleThumbnail
{
    background-color: black;
    color: white;
    margin-bottom: 100px;
    height: 100px;
}

#mediaLinks
{
    height: 200px;
    margin-top: 100px;


    background-color: ;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6000af+24,8a5daf+53,7d3faf+53,4f167b+100 */
    background: #6000af; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6000af 24%, #8a5daf 53%, #7d3faf 53%, #4f167b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6000af 24%,#8a5daf 53%,#7d3faf 53%,#4f167b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6000af 24%,#8a5daf 53%,#7d3faf 53%,#4f167b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6000af', endColorstr='#4f167b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
 
}

.table {
    display: table;
    margin: 0 auto;
    align-content: center;
}

ul#socialList {
    min-width: 400px;
    list-style: none;
    padding-top: 20px;
}

ul#socialList li {
    display: inline;
}

ul#terms li {

    display: inline;
    padding: 10px;

}

.title-bar{
    background-color: #fff;
}

.menu-icon::after
{
	background: #6f1ab1;
	box-shadow: 0 7px 0 #6f1ab1, 0 14px 0 #6f1ab1;
}

.menu-icon:hover::after
{
	background: #350C54;
	box-shadow: 0 7px 0 #350C54, 0 14px 0 #350C54;
}

#kidsPage
{
    background-color: #fad17e;
}

.titleKids
{
    background-color: #fad17e;
}

@media screen and (min-width: 64em) {
	#mainHeader
	{
		position: relative;
	}

	#mainNav
	{
		text-align: right;
        text-transform: uppercase;
        margin-top: 20px;
	}

	#mainNav li
	{
		border-bottom: none;
		display: inline;
		margin-left: 20px;
	}

	#mainNav li a
	{
		display: inline;
		background-color: #fad17e;
        padding: 5px 0 5px 0;
        border-bottom: 0px;
    }

    #mainNav li a:hover
	{
        border-bottom: 3px solid #6f1ab1;
	}

	#mainNav li:first-child
	{
		border-top: none;
	}

	#logo
	{
		margin-top: 20px;
		max-width: 250px;
    }

    .rewindBut
    {
        font-size: 3em;
        color: #4f167b;
        cursor: pointer;
    }

    .ffBut
    {
        font-size: 3em;
        color: #4f167b;
        cursor: pointer;
    }

    .volumeDown
    {
        float: right;
        font-size: 2em;
        color: #4f167b;
        margin-left: 20px;
        cursor: pointer;
    }

    .volumeUp
    {
        float: right;
        font-size: 2em;
        color: #4f167b;
        cursor: pointer;
    }

    .play-pause
    {
        font-size: 6em;
        margin-left: 25px;
        margin-right: 25px;
        color: #4f167b;
        cursor: pointer;
    }
    

}